<!DOCTYPE html>
<html>
  <head>
    <title>MoviesChatbot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'privacy_policy', media: 'all' %>
    <%= javascript_include_tag 'privacy_policy' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
